{{#if script}}
<script>
  const mixin = {
    data() {
      return {};
    },
    computed: {},
    methods: {}
  }
  export default {
    name: '{{ camelCase name }}',
    mixins: [mixin],
    components: {},
    watch: {},
    created() {
    },
    mounted() {
    },
    destroyed() {
    }
  }
</script>
{{/if}}

{{#if template}}
<template>
  <div class="page-{{ kebabCase name }}">
    {{ kebabCase name }} 视图
  </div>
</template>
{{/if}}

{{#if style}}
<style lang="scss" scoped>
  @import "./style.scss";
</style>
{{/if}}