{{#if script}}
<script>
  const mixin = {
    props: {},
    data() {
      return {};
    },
    computed: {},
    methods: {}
  }
  export default {
    name: '{{name }}',
    mixins: [mixin],
    components: {},
    watch: {},
    created() {
    },
    mounted() {
    },
    destroyed() {
    },
    methods: {}
  };
</script>
{{/if}}
{{#if template}}
<template>
  <div class="comp-{{ name }}">
    {{ name }} 组件
  </div>
</template>
{{/if}}


{{#if style}}
<style lang="scss" scoped>
  @import "./style.scss";
</style>
{{/if}}